@use "../../styles/variables.scss" as *;

.toc {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  min-height: 1.4rem;
  flex: 0 0.5 auto;
  &:has(button.toc-header.collapsed) {
    flex: 0 1 1.4rem;
  }
}

button.toc-header {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
  color: var(--dark);
  display: flex;
  align-items: center;

  & h3 {
    font-size: 1rem;
    display: inline-block;
    margin: 0;
  }

  & .fold {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
    opacity: 0.8;
  }

  &.collapsed .fold {
    transform: rotateZ(-90deg);
  }
}

ul.toc-content.overflow {
  list-style: none;
  position: relative;
  margin: 0.5rem 0;
  padding: 0;
  max-height: calc(100% - 2rem);
  overscroll-behavior: contain;
  list-style: none;

  & > li > a {
    color: var(--dark);
    display: inline-block;
    font-size: 0.92rem;
    line-height: 1.25;
    opacity: 0.35;
    transition:
      0.5s ease opacity,
      0.3s ease color;
    &.in-view {
      color: var(--secondary);
      font-weight: 600;
      opacity: 0.75;
    }
  }

  @for $i from 0 through 6 {
    & .depth-#{$i} {
      padding-left: calc(1rem * #{$i});
    }
  }

  & .depth-1 > a {
    font-size: 0.86rem;
  }

  & .depth-2 > a,
  & .depth-3 > a,
  & .depth-4 > a,
  & .depth-5 > a,
  & .depth-6 > a {
    font-size: 0.8rem;
    opacity: 0.3;
  }

  & .depth-2 > a.in-view,
  & .depth-3 > a.in-view,
  & .depth-4 > a.in-view,
  & .depth-5 > a.in-view,
  & .depth-6 > a.in-view {
    color: var(--secondary);
    font-weight: 600;
    opacity: 0.65;
  }
}
